/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f8fafc; }

.postulant-dialog .mat-mdc-dialog-container,
.postulant-dialog .mat-mdc-dialog-surface {
  padding: 0;
  border-radius: 32px;
  background: transparent;
}
