.example-spacer {
    flex: 1 1 auto;
  }

.profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    margin-left: 10px;
}

.profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: 600;
}
